.large {
	margin: 25px auto;
	width: 700px;
}

.large img {
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	float: left;
}

.details {
	border-bottom: 1px solid #ddd;
	float: right;
	text-align: left;
	width: 250px;
}

.details p {
	border-top: 1px solid #ddd;
	font-size: 12px;
	margin: 0;
	padding: 7px 0;
}

.details strong {
	background: #555;
	color: #fff;
	font-size: 10px;
	font-weight: normal;
	padding: 2px 5px;
	text-transform: uppercase;
}