* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #333;
	font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 50px;
	text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
	border-bottom: 1px solid #ddd;
	font-size: 28px;
	padding: 0 0 7px;
}

footer {
	font-size: 12px;
	padding: 25px 0 0 0;
}

#container {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	margin: 0 auto;
	padding: 25px;
	min-height: 300px;
	width: 860px;
}

.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
.group { zoom: 1; }